allow mediaserver mediaserver_tmpfs:file { read write execute };
allow mediaserver system_file:file { execmod };
allow mediaserver opluscamera_app_data_file:file rw_file_perms;
allow mediaserver package_native_service:service_manager find;
