app_domain(opluscamera_app)
net_domain(opluscamera_app)
binder_service(opluscamera_app)

allow opluscamera_app opluscamera_app_data_file:dir create_dir_perms;
allow opluscamera_app opluscamera_app_data_file:file create_file_perms;
allow opluscamera_app activity_service:service_manager find;
allow opluscamera_app cameraserver_service:service_manager find;
allow opluscamera_app activity_task_service:service_manager find;
allow opluscamera_app tethering_service:service_manager find;
allow opluscamera_app gpu_service:service_manager find;
allow opluscamera_app surfaceflinger_service:service_manager find;
allow opluscamera_app mediaserver_service:service_manager find;
allow opluscamera_app audioserver_service:service_manager find;
allow opluscamera_app thermal_service:service_manager find;
allow opluscamera_app sensorservice_service:service_manager find;
allow opluscamera_app trust_service:service_manager find;
allow opluscamera_app telecom_service:service_manager find;
allow opluscamera_app autofill_service:service_manager find;
allow opluscamera_app audio_service:service_manager find;
allow opluscamera_app location_service:service_manager find;
allow opluscamera_app mediaextractor_service:service_manager find;
allow opluscamera_app package_native_service:service_manager find;
allow opluscamera_app mediametrics_service:service_manager find;
allow opluscamera_app webviewupdate_service:service_manager find;
allow opluscamera_app radio_service:service_manager find;
allow opluscamera_app bluetooth_manager_service:service_manager find;
allow opluscamera_app clipboard_service:service_manager find;
allow opluscamera_app wifi_service:service_manager find;
allow opluscamera_app batterystats_service:service_manager find;
allow opluscamera_app batteryproperties_service:service_manager find;
allow opluscamera_app battery_service:service_manager find;
allow opluscamera_app netstats_service:service_manager find;
allow opluscamera_app fingerprint_service:service_manager find;
allow opluscamera_app device_policy_service:service_manager find;
binder_call(opluscamera_app, gpuservice)
allow opluscamera_app media_session_service:service_manager find;
allow opluscamera_app osense_service:service_manager find;
allow opluscamera_app oplus_resource_manager_service:service_manager find;
allow opluscamera_app OPLUSExService_service:service_manager find;
allow opluscamera_app app_compatibility_service:service_manager find;
allow opluscamera_app game_service:service_manager find;
allow opluscamera_app device_state_service:service_manager find;
allow opluscamera_app content_capture_service:service_manager find;
allow opluscamera_app voiceinteraction_service:service_manager find;
allow opluscamera_app hint_service:service_manager find;
