app_domain(oplus_exsystem_service_app)
net_domain(oplus_exsystem_service_app)
binder_service(oplus_exsystem_service_app)

allow oplus_exsystem_service_app system_data_file:dir r_dir_perms;
allow oplus_exsystem_service_app system_app_data_file:dir create_dir_perms;
allow oplus_exsystem_service_app system_app_data_file:file create_file_perms;
allow oplus_exsystem_service_app system_app_data_file:lnk_file create_file_perms;
allow oplus_exsystem_service_app activity_service:service_manager find;
allow oplus_exsystem_service_app surfaceflinger_service:service_manager find;
allow oplus_exsystem_service_app thermal_service:service_manager find;
allow oplus_exsystem_service_app audio_service:service_manager find;
allow oplus_exsystem_service_app audioserver_service:service_manager find;
allow oplus_exsystem_service_app uri_grants_service:service_manager find;
allow oplus_exsystem_service_app app_api_service:service_manager find;
