on init
    chown system system /sys/kernel/thunderquake_engine/level
    chown 644 /sys/kernel/thunderquake_engine/level

service vendor.vibrator-default /vendor/bin/hw/android.hardware.vibrator-service.RMX3031
    class hal
    user system
    group system
    shutdown critical
